/.phpunit.cache
/node_modules
/coverage
/public/build
/public/hot
/public/storage
/public/geojson
/public/jquery-ui
/public/jquery-dialogextend
/public/jquery-ui-iconfont
/public/jquery-jvectormap
/public/jquery-sparkline
/public/jQuery.filer
/public/mark.js
/public/lazyload
/public/img
/public/data
/public/datatables
/public/upload
/resources/js/Utils/font-awesome
/storage/
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
